// To use these variables, paste @import "sassPartial"; at the top of your scss file

//to include a mixin to your class, add in @include mixinName();

$main-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Plus Jakarta Sans', sans-serif;

//use less spacing and less line height for larger fonts
@mixin large-font() {
  font-family: $secondary-font;
  letter-spacing: -1px;
  line-height: 100%;
}

//use large line height and greater letter spacing for small fonts
@mixin small-font() {
  letter-spacing: 0.5px;
  line-height: 140%;
}

@mixin logo() {
  font-family: $secondary-font;
  letter-spacing: -3px;
  line-height: 100%;
}

@mixin site-heading() {
  font-family: $main-font;
  letter-spacing: -1px;
  line-height: 100%;
  font-size: 9vw;
}

//top margin to drop content below navbar
$margin-top: 130px;

// colors
$darkest: hsl(228, 19%, 5%);
$dark: hsl(213, 24%, 16%);
$medium: hsl(200, 2%, 35%);
$light: hsl(210, 2%, 78%);
$lightest: hsl(0, 0%, 95%);
$colour-light: hsl(176, 96%, 69%);
$colour-dark: hsl(177, 40%, 45%);

//create a variable with multiple values (a list)
$scheme-light: $lightest, $dark;
$scheme-dark: $dark, $light;
$scheme-nav-light: $dark, $light;
$scheme-nav-dark: $darkest, $lightest;

//color scheme mixin
@mixin color-scheme($bg, $text) {
  background-color: $bg;
  color: $text;
}

/* this mixin makes all of the images the same size without stretching them DO NOT CHANGE*/
@mixin image-size() {
  max-width: 290px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

/* this mixin makes all of the featured images the same size without stretching them DO NOT CHANGE*/
@mixin featured-image-size() {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

/* this mixin makes all of the small images in itemDetail the same size without stretching them DO NOT CHANGE*/
@mixin thumbnail() {
  max-width: 91px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

@mixin bid-price-on-hover() {
  position: absolute;
  font-size: calc(0.5vw + 0.9vh);
  bottom: 0;
  left: 0;
  width: 8vw; /* set the width of the price element */
  height: 5vh; /* set the height of the price element */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  display: none; /* hide the element by default */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: fit-content;
  min-width: fit-content;
  padding: 5px 10px;
}

@mixin edit-on-hover() {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem; /* set the width of the price element */
  height: 2vh; /* set the height of the price element */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  display: none; /* hide the element by default */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: fit-content;
  min-width: fit-content;
  padding: 10px;
}

.light {
  //when passing in a list as arguments use three dots
  @include color-scheme($scheme-light...);
  height: fit-content;
  min-height: 100%;
}

.dark {
  @include color-scheme($scheme-dark...);
  height:fit-content;
  min-height: 100%;
}

.light .nav {
  @include color-scheme($scheme-nav-light...);
}

.dark .nav {
  @include color-scheme($scheme-nav-dark...);
}

@mixin title-container() {
  display: flex;
  margin-left: 4em;
  margin-right: 4em;
  width: 100%;
  justify-content: space-between;
}

//style the contents of the title div using flexbox
@mixin title() {
  min-width: fit-content;
  min-height: fit-content;
  @include small-font();
  display: flex;
  align-items: left;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

//style the contents of the horizontal rule div using flexbox
@mixin hr() {
  margin-right: 10em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  width: 70%;
  align-items: center;
}

@mixin item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px;
  border-color: $medium;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
}

@mixin items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
}
