@import "sassPartial";

.category-title {
  display: flex;
  margin-left: 2em;
}

.top-element {
  margin-top: $margin-top;
}

.items-container {
  @include items-container()
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 1rem;
  // margin-left: 2em;
  // margin-right: 2em;
}

//this will center the items within their divs
.item-container {
  @include item-container();
}

hr {
  align-items: center;
  width: 100%;
  float: right;
}

.title-container {
  @include title-container()
};

.top-element {
  margin-top: $margin-top;
}