@import 'sassPartial';

.category-title {
  display: flex;
  margin-left: 2em;
}

.top-element {
  margin-top: $margin-top;
}

.items-container {
  @include items-container();
}

.item-container {
  @include item-container();
}

hr {
  align-items: center;
  width: 100%;
  float: right;
}

.title-container {
  @include title-container();
}

.top-element {
  margin-top: $margin-top;
}
