.new-bid {
  display: flex;
  flex-direction: column;
}

.bid-button {
  flex-direction: row;
  display: flex;
  margin-top: 50px;
  margin-left: 7px;
}

.bid-box {
  padding-right: 3em;
}

.dollar-sign {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  p{
   margin-top: 1em;
  }
}