@import "sassPartial";

.new-bid {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
}

.bid-button {
  flex-direction: row;
  display: flex;
  margin-top: 50px;
}

.imageContainer {
  @include imageSize();
}