@import "sassPartial";

.new-bid {
  display: flex;
  flex-direction: column;
}

.bid-button {
  flex-direction: row;
  display: flex;
  margin-top: 50px;
}

.imageContainer {
  @include image-size();
}

.bid-box {
  padding-right: 3em;
}