@import "sassPartial";

.top-element {
  margin-top: $margin-top;
}

.detailContainer {
  width: 80%;
}

.itemDetail {
  display: flex;
  justify-content: center;
  //or we could do margin auto
}

.custom-container {
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
}

//style the contents of the images div using flexbox
.images {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  @include imageSize();
  margin: 5px;
}

.thumbNails {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  width: 292px;
}

.info {
  margin-top: 30px;
  display: flex;
  align-items: left;
  flex-direction: column;
  min-width: 800px;
  max-width: 800px;
}

hr {
  width: 100%;
  float: right;
}

.description {
  text-align: left;
  padding: 3em;
}

.counter {
  padding-left: 3em;
}

.bidInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bid-plus-condition {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}

.footer {
  position:absolute
}

div {
  .thumbNail:hover {
  cursor: pointer;
  }
} 
a {
  text-decoration: none !important;
  color: inherit !important;
}
