@import 'sassPartial';

.top-element {
  margin-top: $margin-top;
}

.title {
  @include title();
}

.detail-container {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.item-detail {
  display: flex;
  justify-content: center;
}

.custom-container {
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
}

.images {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  @include image-size();
  margin: 5px;
}

.thumbnails {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  width: 292px;
}

.info {
  margin-top: 30px;
  display: flex;
  align-items: left;
  flex-direction: column;
  min-width: 800px;
  max-width: 800px;
}

hr {
  width: 100%;
  float: right;
}

.description {
  text-align: left;
  padding: 3em;
}

.counter {
  padding-left: 3em;
}

.bidInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bid-plus-condition {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}

.footer {
  position: absolute;
}

div {
  .thumbnail:hover {
    cursor: pointer;
  }
}
a {
  text-decoration: none !important;
  color: inherit !important;
}

.view-seller {
  text-underline-position: under;
}
