@import "sassPartial";

.bids-image {
  width: 20vw;
  height: 40vh;
  background-Repeat: no-repeat;
  background-Position: center;
  background-Size: cover;
  position: relative;
    // :hover {
    //   width: 21vw;
    //   height: 42vh;
    //   opacity: 0.9;
    //   zoom: 5%;
    //     .bid-price {
    //       opacity: 1;
    //     }
    // }
}

.my-bid-price {
  @include bid-price-on-hover()
}

.item-link:hover .my-bid-price {
  display: flex;
}

.highest-bid-price {
  min-height: fit-content;
  min-width: fit-content;
  font-size: calc(0.5vw + 0.9vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 12vw; /* set the width of the price element */
  height: 6vh; /* set the height of the price element */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  display: flex; /* hide the element by default */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  border-Radius: 5px;
  // @include bid-price-on-hover();
  // opacity: 0.8;
  // position: absolute;
  // margin-left: 20px;
  // width: 12vw;
  // height: 6vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background-Color: black;
  // color: white;
  // padding: 10px;
  // border-Radius: 5px;
  // transform: translate(-10%, -660%);
}

.items {
  display: flex;
  margin-left: 2em;
  margin-top: 80px;
}

.top-element {
  margin-top: $margin-top;
}