@import "sassPartial";

.bids-image {
  width: 20vw;
  height: 40vh;
  background-Repeat: no-repeat;
  background-Position: center;
  background-Size: cover;
  position: relative;
    // :hover {
    //   width: 21vw;
    //   height: 42vh;
    //   opacity: 0.9;
    //   zoom: 5%;
    //     .bid-price {
    //       opacity: 1;
    //     }
    // }
}

.my-bid-price {
  @include bid-price-on-hover()
}

.itemLink:hover .my-bid-price {
  display: flex;
}

.highest-bid-price {
  opacity: 0.8;
  position: absolute;
  margin-left: 20px;
  width: 12vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-Color: black;
  color: white;
  padding: 10px;
  border-Radius: 5px;
  transform: translate(-10%, -660%);
}
