.profile {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  margin-left: 4em;
  margin-right: 4em;
  flex-wrap: wrap;
}
.profile-photo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 4em;
}

.personal-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 4em;
}

.items-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 2em;
  margin-right: 2em;
}

.category-title {
  display: flex;
  margin-left: 2em;
  margin-top: 80px;
}
