@import "sassPartial";

//this is just here so i can style my favicon font I will delete it later
// .fav {
//   line-height: 10px;
// }

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
    a {
      text-decoration: none;
      color: inherit;
      :hover {
        color: $lightest;
      }

    }

    .top-nav, .bottom-nav {
     width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .categories {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      height: 65px;
    }
    .right-nav {
      display: flex;
      flex-direction: row;
        div {
         margin-right: 15px;
        }
    }
    .search {
      align-items: center;
      z-index: 2;
      :hover {
        color: darkgrey !important;
      }
    }
    .logo {
      margin-left: 2em;
      @include logo()
    }

}
.dropdown {
  position: fixed;
}

.dropdown-content {
  padding-left: 10px;
  min-width: 100px;
  max-width: 100px;
  position: fixed;
  flex-direction: column;
  display: none;
  z-index: 1;
  justify-content: center;
  align-items: flex-start;
}

.dropdown:hover .dropdown-content {display: flex;}

.category {
  text-decoration: none;
  color: inherit;
}

.input-group {
  width: 20%;
}

.search-bar-with-results {
  width: 45em;
}

.bi {
  margin-right: 17px;
  margin-top: 8px;
}

.option {
  margin-top: 3px;
}