@import "sassPartial";

.nav {
  display: flex;
  justify-content: space-around;
}

.search-bar-with-results {
  flex-direction: column;
  position: fixed;
  .results {
    min-width: 240px;
    max-width: 240px;
    margin-top: 3.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $light;
    color: $dark;
    position: fixed;
    top: 50px;
    z-index: 1;
    width: 100%;
    border: 0.5px black solid;
  }
  a p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    :hover {
      color: $lightest
    }
  }
}

.search-bar-text {
  flex-direction: row;
  z-index: 2;
}
