.nav {
  display: flex;
  justify-content: space-around;
}

.search-bar-with-results {
  flex-direction: column;
  position: fixed;
  .results {
    min-width: 240px;
    max-width: 240px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    color: white;
    position: fixed;
    top: 50px;
    z-index: 1;
    width: 100%
  }
  a p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.search-bar-text {
  flex-direction: row;
  z-index: 2;
}
