/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
} /*to get rid of default margin*/

.root {
  display: flex;
  flex-direction: column;
}

.strong {
  font-weight: bold;
}

